/*
color 1: #ffab34(green)
colorl 2: #56aac9(blue)
color 3: #ac01bd(red)

*/

/*Global Styles*/

.container{
    margin-left: 10%;
    margin-right: 10%;
}

header {
    width: 100%;
    height: 70px;
    background-color: #ff8080;
    color: #fff;
}
body{
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    margin: 0px;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.logo{
    height: 100%;
    width: 400px;
    float: left;
}

.logo h1{
    text-align: center;
    padding-top: 15px;
    font-family: 'Parisienne', cursive;
}

.menu{
    height: 100%;
    width: 400px;
    float: right;
}

.menu li{
    display: inline-block;
    padding: 20px 10px 0px 0px;
}

/*Banner Styles*/
#banner{
      width: 100%;
      height: 300px;
      background: url("../img/school.jpg") center;
      background-attachment: fixed;
      background-size: cover;
} 

#banner h1{
    text-align: center;
    font-size: 3em;
    padding-top: 10%;
}

/*About Styles*/

#about{
    width: 100%;
    height: 600px;
    background-color: #fac349;
}

#about article{
    height: 350px;
    width: 25%;
    background-color: #fad123;
    float: left;
    padding: 20px;
    margin-right: 45px;
    margin-top: 50px;
    border-radius: 10px;
    border: 4px solid #333;
}

#about h1{
    text-align: center;
    font-size: 1.8em;
}

#about p{
    text-align: justify;
}
/* Bio Styles*/

#bio{
    width: 100%;
    display: block;
    padding: 45px 0px;
    background-color: #a23b45;
}

.bio-img{
    width: 24%;
    height: auto;
    display: inline-block;
}
.img-container{
    width: 100%;
    
}

.img-container img{
    width: 75%;
    border-radius: 100%;
    margin-bottom: 50px;
    
}

.bio-info{
    width: 75%;
    height: auto;
    background-color: red;
    display: inline-block;
    padding: 25px 0px;
    border: 2px dashed #333;
    border-radius: 10px;
}

.bio-info h1{
    text-align: center;
}

.bio-info p{
    text-align: justify;
    padding: 0px 20px;
}

#contact{
    padding: 45px 0;
    display: inline-block;
    width: 100%;
    background: url("../img/white-lion.jpeg") center;
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
    
}
#contact h1{
    text-align: center;
    color: red;
    font-size: 2.5em;
    margin: 10px 0;
}
.form-box{
    height: 300px;
    width: 500px;
    padding: 20px;
    background-color: rgba(0,0,0,.5);
    margin: 0 auto;
}

#contact input{
    height: 30px;
    width: 100%;
    border: 1px solid #fff;
    margin-bottom: 10px;
}

#contact textarea{
    height: 150px;
    width: 100%;
    border: 1px solid #fff;
}

/*footer styles*/

footer{
    padding: 50px 0;
    background-color: #333;
    width: 100%;
    display: inline-block;
}

footer p{
    text-align: center;
    margin: 10px 0;
}

.icon-space{
    width: 180px;
    margin: 0 auto;
}
.icon-box{
    height: 50px;
    width: 50px;
    background-color: #fff;
    display: inline-block;
}

footer i{
    font-size: 2em;
}